@keyframes delete  {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    85% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px 1px 1px;
    margin: 1px 1px 1px;
    min-height: 1000px;
    background: linear-gradient(90deg, #acb5b7,  #ffffff 20%, #ffffff 80%, #acb5b7);
}

.header{
    color: #fff;
    margin: 0px 2px 1rem 0rem;
    padding: 2px;
    background: linear-gradient(to top left,#46487f 0%, #08090e 10%, #06070e 85%, #46467f 100%);
    border: solid 4px;
    border-color: #101024;
    opacity:95%;
}

h1{
    margin: 5px;
}

#task{
    font-size: 22px;
    width: 50%;
    margin: 0.5rem 0 1rem;
    padding: 1px;
}
#taskTime{
    font-size: 22px;
    width: 8%;
    margin: 0 0 1rem;
    padding: 1px;
    max-width: 60%;
}

#submit{
    width: 7rem;
    color: #203339;
}

.post{      
    display: flex;           
    background-color: #0d0e11;
    padding: 2px 2px 2px 2px;
    margin: 1px 1px 1px;
    animation-name: delete;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-play-state: paused;  
    border-radius: 10px;
    color: white;  
    font-size: 20px;
 }

 #posts{
    align-self: center;
    text-align: left;
    margin: 0 0.5rem;
}
      
.post:hover{   
    background-color: #3c4670;
}

.date{
    margin: 4px 10px 4px 0;
    font-size: 13px;
}

.taskTxt{
    padding: 3px;
}

.btns{
    margin-left: 2px;
    width: 230px;
}

.edit{
    float: right;
    margin-right: 2px;
    background-color: #6db97f;
}

.edit:hover{
    background-color: #619e6a;
}

.confirm{
    float: right;
    margin-right: 2px;
    margin-left: 2px;
    background-color: #a3d276;
}

.confirm:hover{
    background-color: #87a26d;
}

.delete  {
    margin-right: 2px;
    margin-left: 2px;
}

.timer  {
    margin-right: 2px;
    margin-left: 2px;
    background-color: #46737f;
}

.timer:hover {
    background-color: #a3b9bf;
}

button {
    margin:0 auto;
    display:block;
    background-color: #73A9AD;
    border: white;
    border-radius: 6px;
    color: white;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
}

button:hover{
    background-color:#44777b;
    color: white;
}
    
